In [2]:
import pandas as pd

In [3]:
odi_bat_df = pd.read_csv(r"data\Batting\ODI data.csv")
odi_bat_df.head(10)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,Unnamed: 13
0,0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,NaN
1,1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,NaN
2,2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,NaN
3,3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34,NaN
4,4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,NaN
5,5,Inzamam-ul-Haq (Asia/PAK),1991-2007,378,350,53,11739,137*,39.52,15812,74.24,10,83,20,NaN
6,6,V Kohli (INDIA),2008-2019,242,233,39,11609,183,59.84,12445,93.28,43,55,13,NaN
7,7,JH Kallis (Afr/ICC/SA),1996-2014,328,314,53,11579,139,44.36,15885,72.89,17,86,17,NaN
8,8,SC Ganguly (Asia/INDIA),1992-2007,311,300,23,11363,183,41.02,15416,73.7,22,72,16,NaN
9,9,R Dravid (Asia/ICC/INDIA),1996-2011,344,318,40,10889,153,39.16,15284,71.24,12,83,13,NaN

In [4]:
odi_bat_df.duplicated().value_counts()

False    2500
dtype: int64

There is no duplicate value in the dataset

In [5]:
odi_bat_df.isnull().value_counts()

Unnamed: 0  Player  Span   Mat    Inns   NO     Runs   HS     Ave    BF     SR     100    50     0      Unnamed: 13
False       False   False  False  False  False  False  False  False  False  False  False  False  False  True           2500
dtype: int64

These is no `null` values in the dataset

-----

### Removing undesired columns

In [6]:
odi_bat_df.drop(columns=['Unnamed: 0', 'Unnamed: 13'], inplace=True)
odi_bat_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-
2496,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-
2497,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-
2498,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-
2499,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-

In [7]:
odi_bat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2500 non-null   object
 1   Span    2500 non-null   object
 2   Mat     2500 non-null   int64
 3   Inns    2500 non-null   object
 4   NO      2500 non-null   object
 5   Runs    2500 non-null   object
 6   HS      2500 non-null   object
 7   Ave     2500 non-null   object
 8   BF      2500 non-null   object
 9   SR      2500 non-null   object
 10  100     2500 non-null   object
 11  50      2500 non-null   object
 12  0       2500 non-null   object
dtypes: int64(1), object(12)
memory usage: 254.0+ KB

#### There are a lot of columns that need to be type casted

In [8]:
odi_bat_df['Inns'].unique()

array(['452', '380', '365', '433', '418', '350', '233', '314', '300',
       '318', '297', '294', '289', '303', '273', '279', '218', '308',
       '296', '214', '244', '251', '278', '237', '259', '236', '212',
       '245', '178', '240', '369', '269', '223', '288', '258', '255',
       '217', '256', '194', '196', '202', '185', '208', '167', '176',
       '216', '232', '252', '192', '155', '142', '228', '161', '177',
       '220', '135', '197', '184', '169', '206', '175', '131', '136',
       '157', '179', '182', '143', '198', '127', '149', '181', '114',
       '193', '115', '183', '140', '221', '162', '125', '213', '122',
       '126', '145', '111', '133', '118', '160', '148', '117', '104',
       '168', '280', '151', '138', '100', '132', '137', '205', '110',
       '120', '130', '95', '81', '105', '72', '92', '106', '128', '102',
       '101', '85', '67', '141', '87', '159', '68', '65', '112', '107',
       '93', '84', '78', '109', '77', '60', '90', '88', '97', '116',
       '119', '70', '99', '57', '103', '69', '83', '113', '187', '75',
       '64', '71', '89', '56', '46', '79', '73', '80', '98', '53', '66',
       '61', '74', '54', '156', '82', '37', '58', '50', '55', '48', '40',
       '62', '47', '49', '39', '32', '51', '76', '59', '45', '42', '34',
       '123', '52', '96', '43', '35', '38', '41', '44', '22', '139', '36',
       '91', '31', '25', '26', '121', '28', '24', '18', '30', '29', '27',
       '33', '17', '15', '20', '16', '14', '63', '23', '21', '19', '10',
       '12', '9', '8', '13', '11', '4', '5', '6', '7', '3', '2', '1', '-'],
      dtype=object)

#### In the end we see a `-`, this will generate an error while typecasting, so first replace this with a `0`

In [9]:
odi_bat_df['Inns'] = odi_bat_df['Inns'].replace('-', '0')
odi_bat_df['Inns'].unique()

array(['452', '380', '365', '433', '418', '350', '233', '314', '300',
       '318', '297', '294', '289', '303', '273', '279', '218', '308',
       '296', '214', '244', '251', '278', '237', '259', '236', '212',
       '245', '178', '240', '369', '269', '223', '288', '258', '255',
       '217', '256', '194', '196', '202', '185', '208', '167', '176',
       '216', '232', '252', '192', '155', '142', '228', '161', '177',
       '220', '135', '197', '184', '169', '206', '175', '131', '136',
       '157', '179', '182', '143', '198', '127', '149', '181', '114',
       '193', '115', '183', '140', '221', '162', '125', '213', '122',
       '126', '145', '111', '133', '118', '160', '148', '117', '104',
       '168', '280', '151', '138', '100', '132', '137', '205', '110',
       '120', '130', '95', '81', '105', '72', '92', '106', '128', '102',
       '101', '85', '67', '141', '87', '159', '68', '65', '112', '107',
       '93', '84', '78', '109', '77', '60', '90', '88', '97', '116',
       '119', '70', '99', '57', '103', '69', '83', '113', '187', '75',
       '64', '71', '89', '56', '46', '79', '73', '80', '98', '53', '66',
       '61', '74', '54', '156', '82', '37', '58', '50', '55', '48', '40',
       '62', '47', '49', '39', '32', '51', '76', '59', '45', '42', '34',
       '123', '52', '96', '43', '35', '38', '41', '44', '22', '139', '36',
       '91', '31', '25', '26', '121', '28', '24', '18', '30', '29', '27',
       '33', '17', '15', '20', '16', '14', '63', '23', '21', '19', '10',
       '12', '9', '8', '13', '11', '4', '5', '6', '7', '3', '2', '1', '0'],
      dtype=object)

In [10]:
odi_bat_df['NO'].unique()

array(['41', '39', '18', '53', '23', '40', '84', '17', '32', '11', '54',
       '30', '19', '28', '20', '37', '9', '14', '16', '27', '21', '44',
       '58', '47', '38', '10', '67', '8', '24', '15', '29', '34', '25',
       '51', '48', '33', '43', '4', '35', '26', '31', '7', '36', '13',
       '57', '5', '6', '2', '62', '3', '42', '1', '12', '55', '50', '72',
       '22', '0', '45', '63', '-'], dtype=object)

In [11]:
odi_bat_df['Runs'].unique()

array(['18426', '14234', '13704', '13430', '12650', '11739', '11609',
       '11579', '11363', '10889', '10773', '10480', '10405', '10290',
       '9720', '9619', '9577', '9378', '9284', '8944', '8824', '8778',
       '8701', '8648', '8529', '8500', '8376', '8273', '8113', '8094',
       '8064', '8037', '7981', '7569', '7534', '7456', '7381', '7348',
       '7249', '7170', '7090', '6989', '6951', '6912', '6892', '6798',
       '6786', '6721', '6626', '6614', '6571', '6564', '6524', '6323',
       '6293', '6248', '6133', '6132', '6100', '6083', '6068', '5964',
       '5935', '5856', '5841', '5812', '5804', '5761', '5757', '5658',
       '5615', '5606', '5565', '5518', '5507', '5442', '5416', '5359',
       '5346', '5238', '5185', '5162', '5134', '5122', '5117', '5092',
       '5088', '5080', '4990', '4950', '4907', '4780', '4707', '4704',
       '4686', '4677', '4559', '4483', '4440', '4413', '4379', '4357',
       '4340', '4335', '4290', '4205', '4091', '4038', '4037', '4010',
       '3994', '3950', '3902', '3891', '3860', '3846', '3843', '3810',
       '3789', '3783', '3717', '3711', '3709', '3675', '3637', '3599',
       '3576', '3519', '3514', '3508', '3490', '3468', '3428', '3421',
       '3394', '3393', '3381', '3367', '3359', '3314', '3266', '3236',
       '3204', '3194', '3170', '3143', '3122', '3108', '3092', '3078',
       '3058', '3044', '3007', '2994', '2968', '2962', '2943', '2880',
       '2877', '2861', '2839', '2819', '2809', '2784', '2782', '2773',
       '2753', '2740', '2739', '2727', '2725', '2717', '2705', '2695',
       '2682', '2656', '2653', '2622', '2605', '2581', '2572', '2571',
       '2559', '2550', '2477', '2434', '2420', '2419', '2413', '2409',
       '2398', '2389', '2380', '2359', '2356', '2338', '2336', '2332',
       '2331', '2302', '2283', '2253', '2224', '2219', '2210', '2206',
       '2204', '2201', '2200', '2188', '2175', '2168', '2113', '2095',
       '2092', '2085', '2072', '2044', '2028', '2025', '2016', '1994',
       '1982', '1977', '1976', '1973', '1968', '1964', '1958', '1954',
       '1945', '1924', '1904', '1895', '1882', '1877', '1874', '1871',
       '1865', '1858', '1845', '1834', '1818', '1814', '1813', '1811',
       '1798', '1796', '1791', '1786', '1777', '1766', '1764', '1752',
       '1751', '1728', '1723', '1719', '1709', '1708', '1694', '1688',
       '1679', '1668', '1627', '1624', '1614', '1598', '1587', '1586',
       '1579', '1573', '1571', '1560', '1554', '1544', '1541', '1530',
       '1527', '1521', '1519', '1518', '1512', '1506', '1501', '1454',
       '1443', '1428', '1418', '1416', '1415', '1414', '1409', '1406',
       '1402', '1397', '1384', '1362', '1361', '1355', '1354', '1336',
       '1334', '1333', '1327', '1326', '1324', '1312', '1308', '1306',
       '1304', '1293', '1283', '1282', '1281', '1273', '1272', '1271',
       '1270', '1269', '1265', '1259', '1249', '1247', '1242', '1239',
       '1237', '1235', '1231', '1230', '1225', '1222', '1219', '1216',
       '1211', '1196', '1191', '1186', '1176', '1174', '1139', '1136',
       '1128', '1120', '1115', '1113', '1109', '1102', '1097', '1090',
       '1082', '1074', '1070', '1068', '1067', '1062', '1059', '1055',
       '1054', '1052', '1050', '1047', '1046', '1041', '1034', '1032',
       '1022', '1018', '1005', '1004', '1002', '991', '987', '980', '976',
       '975', '974', '969', '966', '964', '963', '959', '957', '956',
       '955', '952', '951', '950', '943', '938', '936', '934', '927',
       '924', '915', '905', '898', '890', '889', '887', '883', '871',
       '870', '868', '867', '862', '861', '859', '855', '852', '848',
       '844', '843', '841', '831', '828', '827', '826', '824', '823',
       '818', '814', '812', '810', '804', '799', '794', '792', '790',
       '786', '784', '783', '782', '779', '776', '768', '764', '757',
       '755', '745', '744', '743', '741', '740', '739', '736', '735',
       '734', '732', '728', '720', '718', '716', '715', '713', '711',
       '707', '705', '704', '701', '698', '694', '691', '690', '682',
       '680', '678', '676', '675', '674', '673', '672', '671', '670',
       '669', '666', '664', '663', '646', '643', '642', '641', '639',
       '636', '633', '632', '629', '626', '624', '623', '621', '619',
       '617', '612', '609', '606', '599', '597', '594', '593', '591',
       '590', '588', '586', '584', '583', '582', '581', '579', '575',
       '574', '573', '568', '567', '566', '563', '562', '559', '557',
       '556', '551', '549', '548', '546', '543', '542', '539', '538',
       '535', '532', '529', '528', '526', '524', '520', '519', '516',
       '514', '513', '512', '510', '508', '506', '504', '503', '502',
       '501', '500', '497', '496', '493', '488', '487', '486', '485',
       '484', '482', '481', '480', '478', '477', '476', '475', '474',
       '473', '471', '468', '467', '466', '457', '456', '455', '454',
       '453', '449', '447', '442', '441', '440', '439', '438', '437',
       '434', '432', '430', '425', '424', '423', '421', '420', '419',
       '415', '412', '411', '408', '407', '406', '405', '404', '403',
       '401', '400', '399', '397', '396', '394', '392', '391', '387',
       '385', '383', '381', '379', '378', '376', '374', '373', '371',
       '370', '368', '365', '363', '362', '361', '360', '354', '352',
       '349', '348', '346', '345', '344', '343', '339', '338', '337',
       '336', '332', '331', '330', '328', '327', '326', '324', '322',
       '321', '320', '319', '317', '314', '313', '311', '310', '309',
       '308', '307', '305', '304', '301', '300', '298', '297', '296',
       '295', '294', '293', '292', '291', '290', '289', '287', '285',
       '284', '283', '282', '281', '280', '279', '278', '276', '273',
       '272', '271', '270', '269', '268', '267', '266', '265', '264',
       '263', '262', '260', '259', '258', '257', '256', '255', '254',
       '253', '252', '251', '250', '249', '248', '247', '246', '245',
       '244', '243', '242', '241', '240', '239', '238', '237', '236',
       '235', '234', '233', '231', '230', '229', '228', '227', '226',
       '225', '224', '223', '222', '221', '220', '218', '217', '216',
       '215', '212', '211', '210', '209', '207', '206', '205', '204',
       '201', '200', '199', '197', '196', '195', '193', '192', '191',
       '190', '189', '188', '185', '184', '183', '182', '181', '180',
       '179', '178', '176', '175', '174', '173', '172', '171', '170',
       '169', '168', '167', '166', '165', '164', '163', '162', '161',
       '160', '159', '158', '157', '156', '155', '154', '153', '152',
       '151', '150', '149', '147', '146', '145', '144', '143', '142',
       '141', '140', '139', '138', '137', '136', '135', '134', '133',
       '132', '131', '130', '129', '128', '127', '126', '125', '124',
       '123', '122', '121', '120', '119', '118', '117', '116', '115',
       '114', '113', '112', '111', '110', '109', '108', '107', '106',
       '105', '104', '103', '102', '101', '100', '99', '98', '97', '96',
       '95', '94', '93', '92', '91', '90', '89', '88', '87', '86', '85',
       '84', '83', '82', '81', '80', '79', '78', '77', '76', '75', '74',
       '73', '72', '71', '70', '69', '68', '67', '66', '65', '64', '63',
       '62', '61', '60', '59', '58', '57', '56', '55', '54', '53', '52',
       '51', '50', '49', '48', '47', '46', '45', '44', '43', '42', '41',
       '40', '39', '38', '37', '36', '35', '34', '33', '32', '31', '30',
       '29', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19',
       '18', '17', '16', '15', '14', '13', '12', '11', '10', '9', '8',
       '7', '6', '5', '4', '3', '2', '1', '0', '-'], dtype=object)

In [12]:
odi_bat_df['HS'].unique()

array(['200*', '169', '164', '189', '144', '137*', '183', '139', '153',
       '183*', '215', '161*', '141*', '172', '176', '153*', '145', '264',
       '194', '150', '152*', '132*', '173', '181*', '219', '159', '175',
       '124', '134*', '130', '120*', '143', '131*', '119*', '148', '102',
       '145*', '141', '174*', '108*', '154', '188*', '189*', '237*',
       '140*', '142*', '139*', '127*', '122', '166', '121', '133*',
       '113*', '185*', '178*', '116*', '112', '185', '109*', '119',
       '144*', '150*', '96*', '156', '179', '115', '178', '134', '117',
       '107*', '147*', '116', '126*', '137', '142', '158', '123', '177',
       '118', '128*', '103', '117*', '101', '104', '175*', '86', '129*',
       '102*', '125*', '111', '103*', '105', '109', '180', '107', '108',
       '72*', '110', '170', '112*', '79*', '93', '151', '111*', '121*',
       '135', '136', '83', '101*', '95', '160*', '130*', '161', '106',
       '171', '167*', '99', '89', '114', '131', '100', '138*', '90',
       '114*', '140', '82', '123*', '87', '78', '79', '115*', '113',
       '98*', '50*', '90*', '98', '210*', '92', '82*', '84', '160', '66*',
       '80*', '71*', '96', '99*', '127', '51*', '100*', '128', '56',
       '172*', '132', '124*', '74', '171*', '104*', '105*', '97', '80',
       '67', '110*', '88*', '61', '129', '68*', '176*', '170*', '76',
       '120', '73', '63*', '85*', '118*', '69', '133', '97*', '74*', '49',
       '159*', '66', '69*', '77', '95*', '59', '81', '72', '78*', '77*',
       '47', '70', '65', '88', '62*', '146*', '54', '92*', '89*', '55',
       '50', '60', '37', '73*', '26', '60*', '53', '93*', '45*', '75*',
       '51', '71', '194*', '143*', '58*', '83*', '152', '85', '34*',
       '86*', '53*', '62', '94', '58', '81*', '45', '48*', '37*', '52',
       '65*', '54*', '33*', '67*', '41*', '31*', '57', '42', '46', '46*',
       '146', '61*', '57*', '42*', '68', '91*', '52*', '91', '157*', '64',
       '33', '84*', '47*', '43', '44', '34', '169*', '63', '44*', '70*',
       '59*', '36', '39', '76*', '49*', '75', '48', '41', '32', '35*',
       '43*', '30', '30*', '31', '35', '40', '28', '39*', '32*', '94*',
       '16*', '20', '21*', '19', '38', '24', '23*', '27', '56*', '21',
       '29*', '22', '20*', '38*', '29', '23', '17*', '17', '19*', '25',
       '26*', '24*', '22*', '27*', '11', '18', '36*', '13*', '15*', '18*',
       '87*', '13', '40*', '15', '25*', '28*', '12', '14', '12*', '16',
       '55*', '9*', '11*', '10*', '8*', '10', '6', '14*', '8', '9', '6*',
       '7*', '7', '5', '5*', '4*', '4', '2', '3*', '3', '2*', '1', '1*',
       '0', '0*', '-'], dtype=object)

In [13]:
odi_bat_df['Ave']

0       44.83
1       41.98
2       42.03
3       32.36
4       33.37
        ...
2495        -
2496        -
2497        -
2498        -
2499        -
Name: Ave, Length: 2500, dtype: object

In [14]:
odi_bat_df['BF'].unique()

array(['21367', '18048', '17046', ..., '0', '1', '-'], dtype=object)

In [15]:
odi_bat_df['SR']

0       86.23
1       78.86
2       80.39
3        91.2
4       78.96
        ...
2495        -
2496        -
2497        -
2498        -
2499        -
Name: SR, Length: 2500, dtype: object

In [16]:
odi_bat_df['100'].unique()

array(['49', '25', '30', '28', '19', '10', '43', '17', '22', '12', '15',
       '16', '7', '11', '20', '14', '18', '27', '21', '6', '8', '3', '9',
       '4', '13', '5', '2', '0', '1', '-'], dtype=object)

In [17]:
odi_bat_df['50'].unique()

array(['96', '93', '82', '68', '77', '83', '55', '86', '72', '73', '54',
       '63', '47', '64', '53', '58', '43', '59', '52', '57', '50', '38',
       '39', '37', '49', '45', '44', '46', '48', '41', '35', '40', '36',
       '32', '33', '31', '29', '34', '30', '27', '42', '26', '23', '20',
       '24', '28', '25', '16', '22', '19', '21', '17', '13', '14', '6',
       '18', '15', '12', '10', '11', '9', '8', '4', '1', '7', '5', '3',
       '2', '0', '-'], dtype=object)

In [18]:
odi_bat_df['0'].unique()

array(['20', '15', '34', '28', '13', '17', '16', '10', '25', '11', '19',
       '7', '9', '6', '18', '14', '4', '22', '30', '8', '5', '12', '3',
       '2', '24', '0', '1', '23', '26', '-'], dtype=object)

#### Handling all the `-` together by replacing them with `0`

In [19]:
odi_bat_df = odi_bat_df.replace('-', '0')
odi_bat_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,ZS Ansari (ENG),2015-2015,1,0,0,0,0,0,0,0,0,0,0
2496,Ariful Haque (BDESH),2018-2018,1,0,0,0,0,0,0,0,0,0,0
2497,Ashfaq Ahmed (PAK),1994-1994,3,0,0,0,0,0,0,0,0,0,0
2498,MD Bailey (NZ),1998-1998,1,0,0,0,0,0,0,0,0,0,0
2499,GR Beard (AUS),1981-1981,2,0,0,0,0,0,0,0,0,0,0

#### checking the data-types

In [20]:
odi_bat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2500 non-null   object
 1   Span    2500 non-null   object
 2   Mat     2500 non-null   int64
 3   Inns    2500 non-null   object
 4   NO      2500 non-null   object
 5   Runs    2500 non-null   object
 6   HS      2500 non-null   object
 7   Ave     2500 non-null   object
 8   BF      2500 non-null   object
 9   SR      2500 non-null   object
 10  100     2500 non-null   object
 11  50      2500 non-null   object
 12  0       2500 non-null   object
dtypes: int64(1), object(12)
memory usage: 254.0+ KB

#### `HS` column will be handled separately as it has a `*` in it. For now, first let us change the data types of columns
#### Also, `Span` column will also be handled separately

In [21]:
odi_bat_df['Inns'] = odi_bat_df['Inns'].astype(int)
odi_bat_df['NO'] = odi_bat_df['NO'].astype(int)
odi_bat_df['Runs'] = odi_bat_df['Runs'].astype(int)
odi_bat_df['Ave'] = odi_bat_df['Ave'].astype(float)
odi_bat_df['BF'] = odi_bat_df['BF'].astype(int)
odi_bat_df['SR'] = odi_bat_df['SR'].astype(float)
odi_bat_df['100'] = odi_bat_df['100'].astype(float)
odi_bat_df['50'] = odi_bat_df['50'].astype(float)
odi_bat_df['0'] = odi_bat_df['0'].astype(float)

odi_bat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2500 non-null   object
 1   Span    2500 non-null   object
 2   Mat     2500 non-null   int64
 3   Inns    2500 non-null   int32
 4   NO      2500 non-null   int32
 5   Runs    2500 non-null   int32
 6   HS      2500 non-null   object
 7   Ave     2500 non-null   float64
 8   BF      2500 non-null   int32
 9   SR      2500 non-null   float64
 10  100     2500 non-null   float64
 11  50      2500 non-null   float64
 12  0       2500 non-null   float64
dtypes: float64(5), int32(4), int64(1), object(3)
memory usage: 215.0+ KB

#### Renaming column for better understanding

In [22]:
odi_bat_df.rename(columns={
    'Span': 'Span_ODI_bat',
    'Mat': 'Mat_ODI_bat',
    'Inns': 'Inns_ODI_bat',
    'NO': 'NO_ODI',
    'Runs': 'Runs_ODI_bat',
    'HS': 'HS_ODI',
    'Ave': 'Ave_ODI_bat',
    'BF': 'BF_ODI',
    'SR': 'SR_ODI_bat',
    '100': '100_ODI',
    '50': '50_ODI',
    '0': '0_ODI'
}, inplace=True)

odi_bat_df

,Player,Span_ODI_bat,Mat_ODI_bat,Inns_ODI_bat,NO_ODI,Runs_ODI_bat,HS_ODI,Ave_ODI_bat,BF_ODI,SR_ODI_bat,100_ODI,50_ODI,0_ODI
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49.0,96.0,20.0
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25.0,93.0,15.0
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30.0,82.0,20.0
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28.0,68.0,34.0
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19.0,77.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,ZS Ansari (ENG),2015-2015,1,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0
2496,Ariful Haque (BDESH),2018-2018,1,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0
2497,Ashfaq Ahmed (PAK),1994-1994,3,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0
2498,MD Bailey (NZ),1998-1998,1,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0
2499,GR Beard (AUS),1981-1981,2,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0

#### Let us now first handle `Span` column
What we can do is to seprate both and make two new columns of `Start year` and `End year`

In [23]:
start = []
end = []
for span in odi_bat_df['Span_ODI_bat']:
    s_year, e_year = span.split('-')
    start.append(int(s_year))
    end.append(int(e_year))

odi_bat_df['Start_year_ODI_bat'] = start
odi_bat_df['End_year_ODI_bat'] = end
odi_bat_df['Span_ODI_bat'] = odi_bat_df['End_year_ODI_bat'] - odi_bat_df['Start_year_ODI_bat']

odi_bat_df

,Player,Span_ODI_bat,Mat_ODI_bat,Inns_ODI_bat,NO_ODI,Runs_ODI_bat,HS_ODI,Ave_ODI_bat,BF_ODI,SR_ODI_bat,100_ODI,50_ODI,0_ODI,Start_year_ODI_bat,End_year_ODI_bat
0,SR Tendulkar (INDIA),23,463,452,41,18426,200*,44.83,21367,86.23,49.0,96.0,20.0,1989,2012
1,KC Sangakkara (Asia/ICC/SL),15,404,380,41,14234,169,41.98,18048,78.86,25.0,93.0,15.0,2000,2015
2,RT Ponting (AUS/ICC),17,375,365,39,13704,164,42.03,17046,80.39,30.0,82.0,20.0,1995,2012
3,ST Jayasuriya (Asia/SL),22,445,433,18,13430,189,32.36,14725,91.20,28.0,68.0,34.0,1989,2011
4,DPMD Jayawardene (Asia/SL),17,448,418,39,12650,144,33.37,16020,78.96,19.0,77.0,28.0,1998,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,ZS Ansari (ENG),0,1,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0,2015,2015
2496,Ariful Haque (BDESH),0,1,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0,2018,2018
2497,Ashfaq Ahmed (PAK),0,3,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0,1994,1994
2498,MD Bailey (NZ),0,1,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0,1998,1998
2499,GR Beard (AUS),0,2,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0,1981,1981

#### Handling `HS` columns
The `*` in the score shows that the player was **Not out** in that inning. We will make a separate feature for that named `HS_ODI_isNO` to see if the player was not out or not. Then we can remove the `*` from the HS

In [24]:
is_NO = []
hs_new = []
for hs in odi_bat_df['HS_ODI']:
    if(hs[-1] == '*'):
        is_NO.append(1)
        hs_new.append(int(hs[:-1]))
    else:
        is_NO.append(0)
        hs_new.append(int(hs)) 

odi_bat_df['HS_ODI'] = hs_new
odi_bat_df['HS_ODI_isNO'] = is_NO

odi_bat_df

,Player,Span_ODI_bat,Mat_ODI_bat,Inns_ODI_bat,NO_ODI,Runs_ODI_bat,HS_ODI,Ave_ODI_bat,BF_ODI,SR_ODI_bat,100_ODI,50_ODI,0_ODI,Start_year_ODI_bat,End_year_ODI_bat,HS_ODI_isNO
0,SR Tendulkar (INDIA),23,463,452,41,18426,200,44.83,21367,86.23,49.0,96.0,20.0,1989,2012,1
1,KC Sangakkara (Asia/ICC/SL),15,404,380,41,14234,169,41.98,18048,78.86,25.0,93.0,15.0,2000,2015,0
2,RT Ponting (AUS/ICC),17,375,365,39,13704,164,42.03,17046,80.39,30.0,82.0,20.0,1995,2012,0
3,ST Jayasuriya (Asia/SL),22,445,433,18,13430,189,32.36,14725,91.20,28.0,68.0,34.0,1989,2011,0
4,DPMD Jayawardene (Asia/SL),17,448,418,39,12650,144,33.37,16020,78.96,19.0,77.0,28.0,1998,2015,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,ZS Ansari (ENG),0,1,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0,2015,2015,0
2496,Ariful Haque (BDESH),0,1,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0,2018,2018,0
2497,Ashfaq Ahmed (PAK),0,3,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0,1994,1994,0
2498,MD Bailey (NZ),0,1,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0,1998,1998,0
2499,GR Beard (AUS),0,2,0,0,0,0,0.00,0,0.00,0.0,0.0,0.0,1981,1981,0

#### Now we have successfully handled all the issues in the data set of ODI batting

In [25]:
odi_bat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              2500 non-null   object
 1   Span_ODI_bat        2500 non-null   int64
 2   Mat_ODI_bat         2500 non-null   int64
 3   Inns_ODI_bat        2500 non-null   int32
 4   NO_ODI              2500 non-null   int32
 5   Runs_ODI_bat        2500 non-null   int32
 6   HS_ODI              2500 non-null   int64
 7   Ave_ODI_bat         2500 non-null   float64
 8   BF_ODI              2500 non-null   int32
 9   SR_ODI_bat          2500 non-null   float64
 10  100_ODI             2500 non-null   float64
 11  50_ODI              2500 non-null   float64
 12  0_ODI               2500 non-null   float64
 13  Start_year_ODI_bat  2500 non-null   int64
 14  End_year_ODI_bat    2500 non-null   int64
 15  HS_ODI_isNO         2500 non-null   int64
dtypes: float64(5), int32(4), int64(6), object(1)
memory usage: 273.6+ KB

-----

#### Repeating the same things for other tables

In [26]:
t20_bat_df = pd.read_csv(r"data\Batting\t20.csv")
t20_bat_df.head(10)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,NaN
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,NaN
5,5,DA Warner (AUS),2009-2019,76,76,8,2079,100*,30.57,1476,140.85,1,15,5,203,86,NaN
6,6,EJG Morgan (ENG),2009-2019,86,84,17,2002,91,29.88,1475,135.72,0,11,3,151,96,NaN
7,7,Mohammad Shahzad (AFG),2010-2018,65,65,3,1936,118*,31.22,1436,134.81,1,12,3,218,72,NaN
8,8,JP Duminy (SA),2007-2019,81,75,25,1934,96*,38.68,1532,126.24,0,11,6,138,71,NaN
9,9,PR Stirling (IRE),2009-2019,72,71,6,1929,91,29.67,1401,137.68,0,16,8,233,59,NaN

In [27]:
t20_bat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2006 non-null   int64
 1   Player       2006 non-null   object
 2   Span         2006 non-null   object
 3   Mat          2006 non-null   int64
 4   Inns         2006 non-null   object
 5   NO           2006 non-null   object
 6   Runs         2006 non-null   object
 7   HS           2006 non-null   object
 8   Ave          2006 non-null   object
 9   BF           2006 non-null   object
 10  SR           2006 non-null   object
 11  100          2006 non-null   object
 12  50           2006 non-null   object
 13  0            2006 non-null   object
 14  4s           2006 non-null   object
 15  6s           2006 non-null   object
 16  Unnamed: 15  0 non-null      float64
dtypes: float64(1), int64(2), object(14)
memory usage: 266.6+ KB

In [28]:
t20_bat_df.drop(columns=['Unnamed: 0', 'Unnamed: 15'], inplace=True)
t20_bat_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71
1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120
2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113
3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61
4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,SG Whittingham (SCOT),2018-2018,3,-,-,-,-,-,-,-,-,-,-,-,-
2002,LJ Woodcock (NZ),2010-2011,3,-,-,-,-,-,-,-,-,-,-,-,-
2003,Zamir Khan (AFG),2012-2012,1,-,-,-,-,-,-,-,-,-,-,-,-
2004,S Zargar (Mex),2019-2019,1,-,-,-,-,-,-,-,-,-,-,-,-
2005,Ziaur Rahman (AFG),2019-2019,1,-,-,-,-,-,-,-,-,-,-,-,-

In [29]:
t20_bat_df = t20_bat_df.replace('-', '0')
t20_bat_df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71
1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120
2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113
3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61
4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,SG Whittingham (SCOT),2018-2018,3,0,0,0,0,0,0,0,0,0,0,0,0
2002,LJ Woodcock (NZ),2010-2011,3,0,0,0,0,0,0,0,0,0,0,0,0
2003,Zamir Khan (AFG),2012-2012,1,0,0,0,0,0,0,0,0,0,0,0,0
2004,S Zargar (Mex),2019-2019,1,0,0,0,0,0,0,0,0,0,0,0,0
2005,Ziaur Rahman (AFG),2019-2019,1,0,0,0,0,0,0,0,0,0,0,0,0

In [30]:
t20_bat_df.rename(columns={
    'Span': 'Span_t20_bat',
    'Mat': 'Mat_t20_bat',
    'Inns': 'Inns_t20_bat',
    'NO': 'NO_t20',
    'Runs': 'Runs_t20_bat',
    'HS': 'HS_t20',
    'Ave': 'Ave_t20_bat',
    'BF': 'BF_t20',
    'SR': 'SR_t20_bat',
    '100': '100_t20',
    '50': '50_t20',
    '0': '0_t20',
    '4s': '4s_t20',
    '6s': '6s_t20'
}, inplace=True)

t20_bat_df

,Player,Span_t20_bat,Mat_t20_bat,Inns_t20_bat,NO_t20,Runs_t20_bat,HS_t20,Ave_t20_bat,BF_t20,SR_t20_bat,100_t20,50_t20,0_t20,4s_t20,6s_t20
0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71
1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120
2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113
3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61
4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,SG Whittingham (SCOT),2018-2018,3,0,0,0,0,0,0,0,0,0,0,0,0
2002,LJ Woodcock (NZ),2010-2011,3,0,0,0,0,0,0,0,0,0,0,0,0
2003,Zamir Khan (AFG),2012-2012,1,0,0,0,0,0,0,0,0,0,0,0,0
2004,S Zargar (Mex),2019-2019,1,0,0,0,0,0,0,0,0,0,0,0,0
2005,Ziaur Rahman (AFG),2019-2019,1,0,0,0,0,0,0,0,0,0,0,0,0

In [31]:
t20_bat_df['0_t20'] = t20_bat_df['0_t20'].astype(int)
t20_bat_df['Inns_t20_bat'] = t20_bat_df['Inns_t20_bat'].astype(int)
t20_bat_df['NO_t20'] = t20_bat_df['NO_t20'].astype(int)
t20_bat_df['Runs_t20_bat'] = t20_bat_df['Runs_t20_bat'].astype(int)
t20_bat_df['Ave_t20_bat'] = t20_bat_df['Ave_t20_bat'].astype(float)
t20_bat_df['SR_t20_bat'] = t20_bat_df['SR_t20_bat'].astype(float)
t20_bat_df['BF_t20'] = t20_bat_df['BF_t20'].astype(int)
t20_bat_df['100_t20'] = t20_bat_df['100_t20'].astype(int)
t20_bat_df['50_t20'] = t20_bat_df['50_t20'].astype(int)
t20_bat_df['4s_t20'] = t20_bat_df['4s_t20'].astype(int)
t20_bat_df['6s_t20'] = t20_bat_df['6s_t20'].astype(int)

t20_bat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Player        2006 non-null   object
 1   Span_t20_bat  2006 non-null   object
 2   Mat_t20_bat   2006 non-null   int64
 3   Inns_t20_bat  2006 non-null   int32
 4   NO_t20        2006 non-null   int32
 5   Runs_t20_bat  2006 non-null   int32
 6   HS_t20        2006 non-null   object
 7   Ave_t20_bat   2006 non-null   float64
 8   BF_t20        2006 non-null   int32
 9   SR_t20_bat    2006 non-null   float64
 10  100_t20       2006 non-null   int32
 11  50_t20        2006 non-null   int32
 12  0_t20         2006 non-null   int32
 13  4s_t20        2006 non-null   int32
 14  6s_t20        2006 non-null   int32
dtypes: float64(2), int32(9), int64(1), object(3)
memory usage: 164.7+ KB

In [32]:
start = []
end = []
for span in t20_bat_df['Span_t20_bat']:
    s_year, e_year = span.split('-')
    start.append(int(s_year))
    end.append(int(e_year))

t20_bat_df['Start_year_t20_bat'] = start
t20_bat_df['End_year_t20_bat'] = end
t20_bat_df['Span_t20_bat'] = t20_bat_df['End_year_t20_bat'] - t20_bat_df['Start_year_t20_bat']

t20_bat_df

,Player,Span_t20_bat,Mat_t20_bat,Inns_t20_bat,NO_t20,Runs_t20_bat,HS_t20,Ave_t20_bat,BF_t20,SR_t20_bat,100_t20,50_t20,0_t20,4s_t20,6s_t20,Start_year_t20_bat,End_year_t20_bat
0,V Kohli (INDIA),9,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,2010,2019
1,RG Sharma (INDIA),12,104,96,14,2633,118,32.10,1905,138.21,4,19,6,234,120,2007,2019
2,MJ Guptill (NZ),10,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,2009,2019
3,Shoaib Malik (ICC/PAK),13,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,2006,2019
4,BB McCullum (NZ),10,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,2005,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,SG Whittingham (SCOT),0,3,0,0,0,0,0.00,0,0.00,0,0,0,0,0,2018,2018
2002,LJ Woodcock (NZ),1,3,0,0,0,0,0.00,0,0.00,0,0,0,0,0,2010,2011
2003,Zamir Khan (AFG),0,1,0,0,0,0,0.00,0,0.00,0,0,0,0,0,2012,2012
2004,S Zargar (Mex),0,1,0,0,0,0,0.00,0,0.00,0,0,0,0,0,2019,2019
2005,Ziaur Rahman (AFG),0,1,0,0,0,0,0.00,0,0.00,0,0,0,0,0,2019,2019

In [33]:
is_NO = []
hs_new = []
for hs in t20_bat_df['HS_t20']:
    if(hs[-1] == '*'):
        is_NO.append(1)
        hs_new.append(int(hs[:-1]))
    else:
        is_NO.append(0)
        hs_new.append(int(hs)) 

t20_bat_df['HS_t20'] = hs_new
t20_bat_df['HS_t20_isNO'] = is_NO

t20_bat_df

,Player,Span_t20_bat,Mat_t20_bat,Inns_t20_bat,NO_t20,Runs_t20_bat,HS_t20,Ave_t20_bat,BF_t20,SR_t20_bat,100_t20,50_t20,0_t20,4s_t20,6s_t20,Start_year_t20_bat,End_year_t20_bat,HS_t20_isNO
0,V Kohli (INDIA),9,75,70,20,2633,94,52.66,1907,138.07,0,24,2,247,71,2010,2019,1
1,RG Sharma (INDIA),12,104,96,14,2633,118,32.10,1905,138.21,4,19,6,234,120,2007,2019,0
2,MJ Guptill (NZ),10,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,2009,2019,0
3,Shoaib Malik (ICC/PAK),13,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,2006,2019,0
4,BB McCullum (NZ),10,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,2005,2015,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,SG Whittingham (SCOT),0,3,0,0,0,0,0.00,0,0.00,0,0,0,0,0,2018,2018,0
2002,LJ Woodcock (NZ),1,3,0,0,0,0,0.00,0,0.00,0,0,0,0,0,2010,2011,0
2003,Zamir Khan (AFG),0,1,0,0,0,0,0.00,0,0.00,0,0,0,0,0,2012,2012,0
2004,S Zargar (Mex),0,1,0,0,0,0,0.00,0,0.00,0,0,0,0,0,2019,2019,0
2005,Ziaur Rahman (AFG),0,1,0,0,0,0,0.00,0,0.00,0,0,0,0,0,2019,2019,0

In [34]:
t20_bat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              2006 non-null   object
 1   Span_t20_bat        2006 non-null   int64
 2   Mat_t20_bat         2006 non-null   int64
 3   Inns_t20_bat        2006 non-null   int32
 4   NO_t20              2006 non-null   int32
 5   Runs_t20_bat        2006 non-null   int32
 6   HS_t20              2006 non-null   int64
 7   Ave_t20_bat         2006 non-null   float64
 8   BF_t20              2006 non-null   int32
 9   SR_t20_bat          2006 non-null   float64
 10  100_t20             2006 non-null   int32
 11  50_t20              2006 non-null   int32
 12  0_t20               2006 non-null   int32
 13  4s_t20              2006 non-null   int32
 14  6s_t20              2006 non-null   int32
 15  Start_year_t20_bat  2006 non-null   int64
 16  End_year_t20_bat    2006 non-null   int64
 17  HS_t20_isNO         2006 non-null   int64
dtypes: float64(2), int32(9), int64(6), object(1)
memory usage: 211.7+ KB

In [35]:
odi_bowl_df = pd.read_csv(r"data\Bowling\Bowling_ODI.csv")
odi_bowl_df.head(10)

,Unnamed: 0,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Unnamed: 13
0,0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10,NaN
1,1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6,NaN
2,2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13,NaN
3,3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4,NaN
4,4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9,NaN
5,5,SM Pollock (Afr/ICC/SA),1996-2008,303,297,15712,9631,393,6/35,24.5,3.67,39.9,12,5,NaN
6,6,GD McGrath (AUS/ICC),1993-2007,250,248,12970,8391,381,7/15,22.02,3.88,34.0,9,7,NaN
7,7,B Lee (AUS),2000-2012,221,217,11185,8877,380,5/22,23.36,4.76,29.4,14,9,NaN
8,8,SL Malinga (SL),2004-2019,226,220,10936,9760,338,6/38,28.87,5.35,32.3,11,8,NaN
9,9,A Kumble (Asia/INDIA),1990-2007,271,265,14496,10412,337,6/12,30.89,4.3,43.0,8,2,NaN

In [36]:
odi_bowl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2582 entries, 0 to 2581
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2582 non-null   int64
 1   Player       2582 non-null   object
 2   Span         2582 non-null   object
 3   Mat          2582 non-null   int64
 4   Inns         2582 non-null   object
 5   Balls        2582 non-null   object
 6   Runs         2582 non-null   object
 7   Wkts         2582 non-null   object
 8   BBI          2582 non-null   object
 9   Ave          2582 non-null   object
 10  Econ         2582 non-null   object
 11  SR           2582 non-null   object
 12  4            2582 non-null   object
 13  5            2582 non-null   object
 14  Unnamed: 13  0 non-null      float64
dtypes: float64(1), int64(2), object(12)
memory usage: 302.7+ KB

In [37]:
odi_bowl_df.drop(columns=['Unnamed: 0', 'Unnamed: 13'], inplace=True)
odi_bowl_df

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,TJ Zoehrer (AUS),1986-1994,22,-,-,-,-,-,-,-,-,-,-
2578,K Zondo (SA),2018-2018,5,-,-,-,-,-,-,-,-,-,-
2579,B Zuiderent (NL),1996-2011,57,-,-,-,-,-,-,-,-,-,-
2580,Zulqarnain (PAK),1985-1989,16,-,-,-,-,-,-,-,-,-,-
2581,Zulqarnain Haider (PAK),2010-2010,4,-,-,-,-,-,-,-,-,-,-

In [38]:
odi_bowl_df =  odi_bowl_df.replace('-', '0')
odi_bowl_df

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,TJ Zoehrer (AUS),1986-1994,22,0,0,0,0,0,0,0,0,0,0
2578,K Zondo (SA),2018-2018,5,0,0,0,0,0,0,0,0,0,0
2579,B Zuiderent (NL),1996-2011,57,0,0,0,0,0,0,0,0,0,0
2580,Zulqarnain (PAK),1985-1989,16,0,0,0,0,0,0,0,0,0,0
2581,Zulqarnain Haider (PAK),2010-2010,4,0,0,0,0,0,0,0,0,0,0

In [39]:
odi_bowl_df['Inns'] = odi_bowl_df['Inns'].astype(int)
odi_bowl_df['Balls'] = odi_bowl_df['Balls'].astype(int)
odi_bowl_df['Runs'] = odi_bowl_df['Runs'].astype(int)
odi_bowl_df['Wkts'] = odi_bowl_df['Wkts'].astype(int)
odi_bowl_df['4'] = odi_bowl_df['4'].astype(int)
odi_bowl_df['5'] = odi_bowl_df['5'].astype(int)
odi_bowl_df['Ave'] = odi_bowl_df['Ave'].astype(float)
odi_bowl_df['Econ'] = odi_bowl_df['Econ'].astype(float)
odi_bowl_df['SR'] = odi_bowl_df['SR'].astype(float)

odi_bowl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2582 entries, 0 to 2581
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2582 non-null   object
 1   Span    2582 non-null   object
 2   Mat     2582 non-null   int64
 3   Inns    2582 non-null   int32
 4   Balls   2582 non-null   int32
 5   Runs    2582 non-null   int32
 6   Wkts    2582 non-null   int32
 7   BBI     2582 non-null   object
 8   Ave     2582 non-null   float64
 9   Econ    2582 non-null   float64
 10  SR      2582 non-null   float64
 11  4       2582 non-null   int32
 12  5       2582 non-null   int32
dtypes: float64(3), int32(6), int64(1), object(3)
memory usage: 201.8+ KB

In [40]:
odi_bowl_df.rename(columns={
    'Span': 'Span_ODI_bowl',
    'Mat': 'Mat_ODI_bowl',
    'Inns': 'Inns_ODI_bowl',
    'Balls': 'Balls_del_ODI',
    'Runs': 'Runs_given_ODI',
    'Wkts': 'Wkts_ODI',
    'BBI': 'BBI_ODI',
    'Ave': 'Ave_ODI_bowl',
    'Econ': 'Econ_ODI',
    'SR': 'SR_ODI_bowl',
    '4': '4_W_ODI',
    '5': '5_W_ODI'
}, inplace=True)

odi_bowl_df

,Player,Span_ODI_bowl,Mat_ODI_bowl,Inns_ODI_bowl,Balls_del_ODI,Runs_given_ODI,Wkts_ODI,BBI_ODI,Ave_ODI_bowl,Econ_ODI,SR_ODI_bowl,4_W_ODI,5_W_ODI
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,TJ Zoehrer (AUS),1986-1994,22,0,0,0,0,0,0.00,0.00,0.0,0,0
2578,K Zondo (SA),2018-2018,5,0,0,0,0,0,0.00,0.00,0.0,0,0
2579,B Zuiderent (NL),1996-2011,57,0,0,0,0,0,0.00,0.00,0.0,0,0
2580,Zulqarnain (PAK),1985-1989,16,0,0,0,0,0,0.00,0.00,0.0,0,0
2581,Zulqarnain Haider (PAK),2010-2010,4,0,0,0,0,0,0.00,0.00,0.0,0,0

In [41]:
start = []
end = []
for span in odi_bowl_df['Span_ODI_bowl']:
    s_year, e_year = span.split('-')
    start.append(int(s_year))
    end.append(int(e_year))

odi_bowl_df['Start_year_ODI_bowl'] = start
odi_bowl_df['End_year_ODI_bowl'] = end
odi_bowl_df['Span_ODI_bowl'] = odi_bowl_df['End_year_ODI_bowl'] - odi_bowl_df['Start_year_ODI_bowl']

odi_bowl_df

,Player,Span_ODI_bowl,Mat_ODI_bowl,Inns_ODI_bowl,Balls_del_ODI,Runs_given_ODI,Wkts_ODI,BBI_ODI,Ave_ODI_bowl,Econ_ODI,SR_ODI_bowl,4_W_ODI,5_W_ODI,Start_year_ODI_bowl,End_year_ODI_bowl
0,M Muralitharan (Asia/ICC/SL),18,350,341,18811,12326,534,7/30,23.08,3.93,35.2,15,10,1993,2011
1,Wasim Akram (PAK),19,356,351,18186,11812,502,5/15,23.52,3.89,36.2,17,6,1984,2003
2,Waqar Younis (PAK),14,262,258,12698,9919,416,7/36,23.84,4.68,30.5,14,13,1989,2003
3,WPUJC Vaas (Asia/SL),14,322,320,15775,11014,400,8/19,27.53,4.18,39.4,9,4,1994,2008
4,Shahid Afridi (Asia/ICC/PAK),19,398,372,17670,13632,395,7/12,34.51,4.62,44.7,4,9,1996,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,TJ Zoehrer (AUS),8,22,0,0,0,0,0,0.00,0.00,0.0,0,0,1986,1994
2578,K Zondo (SA),0,5,0,0,0,0,0,0.00,0.00,0.0,0,0,2018,2018
2579,B Zuiderent (NL),15,57,0,0,0,0,0,0.00,0.00,0.0,0,0,1996,2011
2580,Zulqarnain (PAK),4,16,0,0,0,0,0,0.00,0.00,0.0,0,0,1985,1989
2581,Zulqarnain Haider (PAK),0,4,0,0,0,0,0,0.00,0.00,0.0,0,0,2010,2010

In [42]:
best_bowl_wkts = []
best_bowl_runs = []
for best in odi_bowl_df['BBI_ODI']:
    if '/' in best:
        b_wkt, b_run = best.split('/')
        best_bowl_wkts.append(int(b_wkt))
        best_bowl_runs.append(int(b_run))
    else:
        best_bowl_wkts.append(0)
        best_bowl_runs.append(0)

best_bowl_runs, best_bowl_wkts
odi_bowl_df['best_wkts_ODI'] = best_bowl_wkts
odi_bowl_df['best_runs_given_ODI'] = best_bowl_runs

odi_bowl_df.drop(columns='BBI_ODI', inplace=True)
odi_bowl_df

,Player,Span_ODI_bowl,Mat_ODI_bowl,Inns_ODI_bowl,Balls_del_ODI,Runs_given_ODI,Wkts_ODI,Ave_ODI_bowl,Econ_ODI,SR_ODI_bowl,4_W_ODI,5_W_ODI,Start_year_ODI_bowl,End_year_ODI_bowl,best_wkts_ODI,best_runs_given_ODI
0,M Muralitharan (Asia/ICC/SL),18,350,341,18811,12326,534,23.08,3.93,35.2,15,10,1993,2011,7,30
1,Wasim Akram (PAK),19,356,351,18186,11812,502,23.52,3.89,36.2,17,6,1984,2003,5,15
2,Waqar Younis (PAK),14,262,258,12698,9919,416,23.84,4.68,30.5,14,13,1989,2003,7,36
3,WPUJC Vaas (Asia/SL),14,322,320,15775,11014,400,27.53,4.18,39.4,9,4,1994,2008,8,19
4,Shahid Afridi (Asia/ICC/PAK),19,398,372,17670,13632,395,34.51,4.62,44.7,4,9,1996,2015,7,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,TJ Zoehrer (AUS),8,22,0,0,0,0,0.00,0.00,0.0,0,0,1986,1994,0,0
2578,K Zondo (SA),0,5,0,0,0,0,0.00,0.00,0.0,0,0,2018,2018,0,0
2579,B Zuiderent (NL),15,57,0,0,0,0,0.00,0.00,0.0,0,0,1996,2011,0,0
2580,Zulqarnain (PAK),4,16,0,0,0,0,0.00,0.00,0.0,0,0,1985,1989,0,0
2581,Zulqarnain Haider (PAK),0,4,0,0,0,0,0.00,0.00,0.0,0,0,2010,2010,0,0

In [43]:
odi_bowl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2582 entries, 0 to 2581
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player               2582 non-null   object
 1   Span_ODI_bowl        2582 non-null   int64
 2   Mat_ODI_bowl         2582 non-null   int64
 3   Inns_ODI_bowl        2582 non-null   int32
 4   Balls_del_ODI        2582 non-null   int32
 5   Runs_given_ODI       2582 non-null   int32
 6   Wkts_ODI             2582 non-null   int32
 7   Ave_ODI_bowl         2582 non-null   float64
 8   Econ_ODI             2582 non-null   float64
 9   SR_ODI_bowl          2582 non-null   float64
 10  4_W_ODI              2582 non-null   int32
 11  5_W_ODI              2582 non-null   int32
 12  Start_year_ODI_bowl  2582 non-null   int64
 13  End_year_ODI_bowl    2582 non-null   int64
 14  best_wkts_ODI        2582 non-null   int64
 15  best_runs_given_ODI  2582 non-null   int64
dtypes: float64(3), int32(6), int64(6), object(1)
memory usage: 262.4+ KB

In [44]:
t20_bowl_df = pd.read_csv(r"data\Bowling\Bowling_t20.csv")
t20_bowl_df.head(10)

,Unnamed: 0,Player,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Unnamed: 14
0,0,SL Malinga (SL),2006-2019,79,79,284.5,1,2061,106,5/6,19.44,7.23,16.1,1,2,NaN
1,1,Shahid Afridi (ICC/PAK),2006-2018,99,97,361.2,4,2396,98,4/11,24.44,6.63,22.1,3,0,NaN
2,2,Shakib Al Hasan (BDESH),2006-2019,76,75,277.5,2,1894,92,5/20,20.58,6.81,18.1,3,1,NaN
3,3,Saeed Ajmal (PAK),2009-2015,64,63,238.2,2,1516,85,4/19,17.83,6.36,16.8,4,0,NaN
4,4,Umar Gul (PAK),2007-2016,60,60,200.3,2,1443,85,5/6,16.97,7.19,14.1,4,2,NaN
5,5,Rashid Khan (AFG/ICC),2015-2019,45,45,171.0,1,1052,84,5/3,12.52,6.15,12.2,3,2,NaN
6,6,GH Dockrell (IRE),2010-2019,73,69,221.2,1,1539,75,4/20,20.52,6.95,17.7,1,0,NaN
7,7,TG Southee (NZ),2008-2019,66,64,233.3,2,1954,75,5/18,26.05,8.36,18.6,0,1,NaN
8,8,Mohammad Nabi (AFG),2010-2019,75,75,256.4,5,1839,69,4/10,26.65,7.16,22.3,3,0,NaN
9,9,KMDN Kulasekara (SL),2008-2017,58,58,205.1,6,1530,66,4/31,23.18,7.45,18.6,2,0,NaN

In [45]:
t20_bowl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2006 non-null   int64
 1   Player       2006 non-null   object
 2   Span         2006 non-null   object
 3   Mat          2006 non-null   int64
 4   Inns         2006 non-null   object
 5   Overs        2006 non-null   object
 6   Mdns         2006 non-null   object
 7   Runs         2006 non-null   object
 8   Wkts         2006 non-null   object
 9   BBI          2006 non-null   object
 10  Ave          2006 non-null   object
 11  Econ         2006 non-null   object
 12  SR           2006 non-null   object
 13  4            2006 non-null   object
 14  5            2006 non-null   object
 15  Unnamed: 14  0 non-null      float64
dtypes: float64(1), int64(2), object(13)
memory usage: 250.9+ KB

In [46]:
t20_bowl_df.drop(columns=['Unnamed: 0', 'Unnamed: 14'], inplace=True)

In [47]:
t20_bowl_df = t20_bowl_df.replace('-', '0')
t20_bowl_df

,Player,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,SL Malinga (SL),2006-2019,79,79,284.5,1,2061,106,5/6,19.44,7.23,16.1,1,2
1,Shahid Afridi (ICC/PAK),2006-2018,99,97,361.2,4,2396,98,4/11,24.44,6.63,22.1,3,0
2,Shakib Al Hasan (BDESH),2006-2019,76,75,277.5,2,1894,92,5/20,20.58,6.81,18.1,3,1
3,Saeed Ajmal (PAK),2009-2015,64,63,238.2,2,1516,85,4/19,17.83,6.36,16.8,4,0
4,Umar Gul (PAK),2007-2016,60,60,200.3,2,1443,85,5/6,16.97,7.19,14.1,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,Ziaur Rehman (Fin),2019-2019,1,0,0,0,0,0,0,0,0,0,0,0
2002,Zishan Shah (DEN),2019-2019,6,0,0,0,0,0,0,0,0,0,0,0
2003,Zubaidi Zulkifle (MAL),2019-2019,4,0,0,0,0,0,0,0,0,0,0,0
2004,B Zuiderent (NL),2009-2010,6,0,0,0,0,0,0,0,0,0,0,0
2005,Zulqarnain Haider (PAK),2007-2010,3,0,0,0,0,0,0,0,0,0,0,0

In [48]:
t20_bowl_df.drop(columns='Mdns', inplace=True)

In [49]:
t20_bowl_df.rename(columns={
    'Span': 'Span_t20_bowl',
    'Mat': 'Mat_t20_bowl',
    'Inns': 'Inns_t20_bowl',
    'Overs': 'Overs_t20',
    'Runs': 'Runs_given_t20',
    'Wkts': 'Wkts_t20',
    'BBI': 'BBI_t20',
    'Ave': 'Ave_t20_bowl',
    'Econ': 'Econ_t20',
    'SR': 'SR_t20_bowl',
    '4': '4_W_t20',
    '5': '5_W_t20'
}, inplace=True)

t20_bowl_df

,Player,Span_t20_bowl,Mat_t20_bowl,Inns_t20_bowl,Overs_t20,Runs_given_t20,Wkts_t20,BBI_t20,Ave_t20_bowl,Econ_t20,SR_t20_bowl,4_W_t20,5_W_t20
0,SL Malinga (SL),2006-2019,79,79,284.5,2061,106,5/6,19.44,7.23,16.1,1,2
1,Shahid Afridi (ICC/PAK),2006-2018,99,97,361.2,2396,98,4/11,24.44,6.63,22.1,3,0
2,Shakib Al Hasan (BDESH),2006-2019,76,75,277.5,1894,92,5/20,20.58,6.81,18.1,3,1
3,Saeed Ajmal (PAK),2009-2015,64,63,238.2,1516,85,4/19,17.83,6.36,16.8,4,0
4,Umar Gul (PAK),2007-2016,60,60,200.3,1443,85,5/6,16.97,7.19,14.1,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,Ziaur Rehman (Fin),2019-2019,1,0,0,0,0,0,0,0,0,0,0
2002,Zishan Shah (DEN),2019-2019,6,0,0,0,0,0,0,0,0,0,0
2003,Zubaidi Zulkifle (MAL),2019-2019,4,0,0,0,0,0,0,0,0,0,0
2004,B Zuiderent (NL),2009-2010,6,0,0,0,0,0,0,0,0,0,0
2005,Zulqarnain Haider (PAK),2007-2010,3,0,0,0,0,0,0,0,0,0,0

In [50]:
t20_bowl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          2006 non-null   object
 1   Span_t20_bowl   2006 non-null   object
 2   Mat_t20_bowl    2006 non-null   int64
 3   Inns_t20_bowl   2006 non-null   object
 4   Overs_t20       2006 non-null   object
 5   Runs_given_t20  2006 non-null   object
 6   Wkts_t20        2006 non-null   object
 7   BBI_t20         2006 non-null   object
 8   Ave_t20_bowl    2006 non-null   object
 9   Econ_t20        2006 non-null   object
 10  SR_t20_bowl     2006 non-null   object
 11  4_W_t20         2006 non-null   object
 12  5_W_t20         2006 non-null   object
dtypes: int64(1), object(12)
memory usage: 203.9+ KB

In [51]:
t20_bowl_df['Inns_t20_bowl'] = t20_bowl_df['Inns_t20_bowl'].astype(int)
t20_bowl_df['Runs_given_t20'] = t20_bowl_df['Runs_given_t20'].astype(int)
t20_bowl_df['Wkts_t20'] = t20_bowl_df['Wkts_t20'].astype(int)
t20_bowl_df['4_W_t20'] = t20_bowl_df['4_W_t20'].astype(int)
t20_bowl_df['5_W_t20'] = t20_bowl_df['5_W_t20'].astype(int)
t20_bowl_df['Ave_t20_bowl'] = t20_bowl_df['Ave_t20_bowl'].astype(float)
t20_bowl_df['Econ_t20'] = t20_bowl_df['Econ_t20'].astype(float)
t20_bowl_df['SR_t20_bowl'] = t20_bowl_df['SR_t20_bowl'].astype(float)

t20_bowl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Player          2006 non-null   object
 1   Span_t20_bowl   2006 non-null   object
 2   Mat_t20_bowl    2006 non-null   int64
 3   Inns_t20_bowl   2006 non-null   int32
 4   Overs_t20       2006 non-null   object
 5   Runs_given_t20  2006 non-null   int32
 6   Wkts_t20        2006 non-null   int32
 7   BBI_t20         2006 non-null   object
 8   Ave_t20_bowl    2006 non-null   float64
 9   Econ_t20        2006 non-null   float64
 10  SR_t20_bowl     2006 non-null   float64
 11  4_W_t20         2006 non-null   int32
 12  5_W_t20         2006 non-null   int32
dtypes: float64(3), int32(5), int64(1), object(4)
memory usage: 164.7+ KB

In [52]:
start = []
end = []
for span in t20_bowl_df['Span_t20_bowl']:
    s_year, e_year = span.split('-')
    start.append(int(s_year))
    end.append(int(e_year))

t20_bowl_df['Start_year_t20_bowl'] = start
t20_bowl_df['End_year_t20_bowl'] = end
t20_bowl_df['Span_t20_bowl'] = t20_bowl_df['End_year_t20_bowl'] - t20_bowl_df['Start_year_t20_bowl']

t20_bowl_df

,Player,Span_t20_bowl,Mat_t20_bowl,Inns_t20_bowl,Overs_t20,Runs_given_t20,Wkts_t20,BBI_t20,Ave_t20_bowl,Econ_t20,SR_t20_bowl,4_W_t20,5_W_t20,Start_year_t20_bowl,End_year_t20_bowl
0,SL Malinga (SL),13,79,79,284.5,2061,106,5/6,19.44,7.23,16.1,1,2,2006,2019
1,Shahid Afridi (ICC/PAK),12,99,97,361.2,2396,98,4/11,24.44,6.63,22.1,3,0,2006,2018
2,Shakib Al Hasan (BDESH),13,76,75,277.5,1894,92,5/20,20.58,6.81,18.1,3,1,2006,2019
3,Saeed Ajmal (PAK),6,64,63,238.2,1516,85,4/19,17.83,6.36,16.8,4,0,2009,2015
4,Umar Gul (PAK),9,60,60,200.3,1443,85,5/6,16.97,7.19,14.1,4,2,2007,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,Ziaur Rehman (Fin),0,1,0,0,0,0,0,0.00,0.00,0.0,0,0,2019,2019
2002,Zishan Shah (DEN),0,6,0,0,0,0,0,0.00,0.00,0.0,0,0,2019,2019
2003,Zubaidi Zulkifle (MAL),0,4,0,0,0,0,0,0.00,0.00,0.0,0,0,2019,2019
2004,B Zuiderent (NL),1,6,0,0,0,0,0,0.00,0.00,0.0,0,0,2009,2010
2005,Zulqarnain Haider (PAK),3,3,0,0,0,0,0,0.00,0.00,0.0,0,0,2007,2010

In [53]:
best_bowl_wkts = []
best_bowl_runs = []
for best in t20_bowl_df['BBI_t20']:
    if '/' in best:
        b_wkt, b_run = best.split('/')
        best_bowl_wkts.append(int(b_wkt))
        best_bowl_runs.append(int(b_run))
    else:
        best_bowl_wkts.append(0)
        best_bowl_runs.append(0)

best_bowl_runs, best_bowl_wkts
t20_bowl_df['best_wkts_t20'] = best_bowl_wkts
t20_bowl_df['best_runs_given_t20'] = best_bowl_runs

t20_bowl_df.drop(columns='BBI_t20', inplace=True)
t20_bowl_df

,Player,Span_t20_bowl,Mat_t20_bowl,Inns_t20_bowl,Overs_t20,Runs_given_t20,Wkts_t20,Ave_t20_bowl,Econ_t20,SR_t20_bowl,4_W_t20,5_W_t20,Start_year_t20_bowl,End_year_t20_bowl,best_wkts_t20,best_runs_given_t20
0,SL Malinga (SL),13,79,79,284.5,2061,106,19.44,7.23,16.1,1,2,2006,2019,5,6
1,Shahid Afridi (ICC/PAK),12,99,97,361.2,2396,98,24.44,6.63,22.1,3,0,2006,2018,4,11
2,Shakib Al Hasan (BDESH),13,76,75,277.5,1894,92,20.58,6.81,18.1,3,1,2006,2019,5,20
3,Saeed Ajmal (PAK),6,64,63,238.2,1516,85,17.83,6.36,16.8,4,0,2009,2015,4,19
4,Umar Gul (PAK),9,60,60,200.3,1443,85,16.97,7.19,14.1,4,2,2007,2016,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,Ziaur Rehman (Fin),0,1,0,0,0,0,0.00,0.00,0.0,0,0,2019,2019,0,0
2002,Zishan Shah (DEN),0,6,0,0,0,0,0.00,0.00,0.0,0,0,2019,2019,0,0
2003,Zubaidi Zulkifle (MAL),0,4,0,0,0,0,0.00,0.00,0.0,0,0,2019,2019,0,0
2004,B Zuiderent (NL),1,6,0,0,0,0,0.00,0.00,0.0,0,0,2009,2010,0,0
2005,Zulqarnain Haider (PAK),3,3,0,0,0,0,0.00,0.00,0.0,0,0,2007,2010,0,0

In [54]:
balls = []
for overs in t20_bowl_df['Overs_t20']:
    if '.' in overs:
        over, ball = overs.split('.')
        ball = (int(over)*6) + int(ball)
        balls.append(ball)
    else:
        balls.append(int(overs)*6)

t20_bowl_df['Balls_del_t20'] = balls
t20_bowl_df.drop(columns='Overs_t20', inplace=True)
t20_bowl_df

,Player,Span_t20_bowl,Mat_t20_bowl,Inns_t20_bowl,Runs_given_t20,Wkts_t20,Ave_t20_bowl,Econ_t20,SR_t20_bowl,4_W_t20,5_W_t20,Start_year_t20_bowl,End_year_t20_bowl,best_wkts_t20,best_runs_given_t20,Balls_del_t20
0,SL Malinga (SL),13,79,79,2061,106,19.44,7.23,16.1,1,2,2006,2019,5,6,1709
1,Shahid Afridi (ICC/PAK),12,99,97,2396,98,24.44,6.63,22.1,3,0,2006,2018,4,11,2168
2,Shakib Al Hasan (BDESH),13,76,75,1894,92,20.58,6.81,18.1,3,1,2006,2019,5,20,1667
3,Saeed Ajmal (PAK),6,64,63,1516,85,17.83,6.36,16.8,4,0,2009,2015,4,19,1430
4,Umar Gul (PAK),9,60,60,1443,85,16.97,7.19,14.1,4,2,2007,2016,5,6,1203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,Ziaur Rehman (Fin),0,1,0,0,0,0.00,0.00,0.0,0,0,2019,2019,0,0,0
2002,Zishan Shah (DEN),0,6,0,0,0,0.00,0.00,0.0,0,0,2019,2019,0,0,0
2003,Zubaidi Zulkifle (MAL),0,4,0,0,0,0.00,0.00,0.0,0,0,2019,2019,0,0,0
2004,B Zuiderent (NL),1,6,0,0,0,0.00,0.00,0.0,0,0,2009,2010,0,0,0
2005,Zulqarnain Haider (PAK),3,3,0,0,0,0.00,0.00,0.0,0,0,2007,2010,0,0,0

In [55]:
t20_bowl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player               2006 non-null   object
 1   Span_t20_bowl        2006 non-null   int64
 2   Mat_t20_bowl         2006 non-null   int64
 3   Inns_t20_bowl        2006 non-null   int32
 4   Runs_given_t20       2006 non-null   int32
 5   Wkts_t20             2006 non-null   int32
 6   Ave_t20_bowl         2006 non-null   float64
 7   Econ_t20             2006 non-null   float64
 8   SR_t20_bowl          2006 non-null   float64
 9   4_W_t20              2006 non-null   int32
 10  5_W_t20              2006 non-null   int32
 11  Start_year_t20_bowl  2006 non-null   int64
 12  End_year_t20_bowl    2006 non-null   int64
 13  best_wkts_t20        2006 non-null   int64
 14  best_runs_given_t20  2006 non-null   int64
 15  Balls_del_t20        2006 non-null   int64
dtypes: float64(3), int32(5), int64(7), object(1)
memory usage: 211.7+ KB

#### storing them in .csv files

In [56]:
odi_bat_df.to_csv(r"cleaned_data/ODI_bat.csv")
odi_bowl_df.to_csv(r"cleaned_data/ODI_bowl.csv")
t20_bat_df.to_csv(r"cleaned_data/t20_bat.csv")
t20_bowl_df.to_csv(r"cleaned_data/t20_bowl.csv")

----